extends ../layout

block content
  .container.contentTop
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 名字
            th 时间
            th 角色
            th 更新
            th 删除
          tbody
            each item in users
              tr(class="item-id-#{item._id}")
                td #{item.name}
                td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
                if item.role == 110
                  td 超级管理员
                if item.role == 10
                  td 管理员
                if item.role < 10
                  td 普通用户 
                td: a(href="/admin/user/#{item._id}") 修改
                td 
                  button.btn.btn-danger.delUser(type="button", data-id="#{item._id}") 删除
  script(src="/js/admin.js")                  